BOT_TOKEN=123456789:AA...

API_ID=1234567
API_HASH=abcdef1234567890abcdef1234567890

# python gen_fernet_key.py
FERNET_KEY=

# Admin ID lar (vergul bilan)
ADMIN_IDS=123456789

# Foydalanuvchi ID lar (vergul bilan) — faqat shu userlar botdan foydalana oladi
USER_IDS=111111111,222222222
